* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    background: #222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    color: #222;
    background: #ddd;
}

.generator {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 15px;
}

.generator p {
    color: #ddd;
    font-size: 24px;
}

.generator input {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: none;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 8px;
    color: #ddd;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.2s;
}

.generator input.active {
    border-color: #4dff4d;
}

.generator .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.generator button {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    background: #008170;
    color: #ddd;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.generator button:hover {
    background: #005B41;
}

.generator #btncp::before {
    position: absolute;
    content: "Copied";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #4dff4d;
    transition: 0.2s linear;
    z-index: -1;
}

.generator input.active~.buttons #btncp::before {
    left: -70px;
}


/* Github icon */
#ghb {
    position: absolute;
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
    top: 200px;
    text-align: center;
    line-height: 70px;
    border: 2px solid transparent;
    color: #000000;
    font-size: 97px;
    transition: 0.2s;
}

#ghb:hover {
    border-radius: 50%;
    border-color: #005B41;
    box-shadow: 0 0 10px #008170;
}